SERVICE_NAME=starment-api
NODE_ENV=development
PORT=3000

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

CORS_ORIGINS=http://localhost:4200,http://localhost:4201

LOG_LEVEL=debug   # or info / warn / error


THROTTLER_TTL_SECONDS=60
THROTTLER_LIMIT=10

ENABLE_SWAGGER=true

DB_TIMEOUT_MS=2000
DB_RETRIES=2

SUPABASE_JWT_ISS=


TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

TWILIO_TEST_ACCOUNT_SID=
TWILIO_TEST_AUTH_TOKEN=

TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=

TWILIO_TOKEN_TTL_SECONDS=3600

STRIPE_API_KEY=add_your_key_here